.card-img-top {
height: 200px
}
.solid {
  border-top: 3px solid #bbb;
  border-top-color: #BDD1FB;
}

#values .card {
  width: 30%;
  & h4 {
    text-align: center;
    margin-top: 1rem;
  }
  & p {
    text-align: center;
  }
}
