.background-image-form {
  background-image: url('https://images.unsplash.com/photo-1528460033278-a6ba57020470?q=80&w=2835&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;

}

.login-form .form-inputs {
  margin-bottom: 20px;
}

.login-form .form-inputs input[type="email"],
.login-form .form-inputs input[type="password"],
.login-form .form-inputs input[type="checkbox"] {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-form .form-inputs input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

.login-form .form-actions {
  margin-bottom: 20px;
}

.login-form .form-actions button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
}
