#profile a {
  text-decoration: none;
  color: white;
}

.fa-pencil-alt {
  color: $buddy-medium-blue;
}

.fa-pencil-alt:hover {
  color: $buddy-dark-blue;
}

#profile li {
  list-style: none;
}

#password-change {
  opacity: 0.5;
}

#btn-new-password {
  .fas {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  }
}

#profile-information {
  background-color: $buddy-light-blue;
  padding: 20px;
  border-radius: 10px;
}
