<li class="list-group-item">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="item1">
                    <label class="custom-control-label" for="item1"><%= task.description %></label>
                </div>
                <button type="button" class="btn btn-danger btn-sm float-right delete-item">
                    <i class="fas fa-times"></i>
                </button>
            </li>
