<div class="banner d-flex justify-content-center">
  <div class="d-flex flex-column ms-5 banner-text-container" >
    <h1 class="mb-4">Empowering Buddies, Achieving Dreams!</h1>
    <p>The ultimate accountability buddy for anyone striving to reach their goals! Whether it’s aiming to read more, hit the gym regularly, learn a new skill, or ace that course, <br>
       we've got you covered.</p>
    <div>
      <a class="btn btn-primary mt-3" href="users/sign_up" style= "font-size: 20px; padding: 15px 30px; border-radius: 5px"> Try for free!</a>
    </div>
  </div>
  <div class="image justify-self-end">
    <img src="<%= asset_path('winners.svg') %>" alt="Image Description" height="400" width="600">
  </div>
</div>
