<div class="banner">
  <div class="container">
    <h1>"Empowering Buddies, Achieving Dreams!”</h1>
    <p>The ultimate accountability buddy for anyone striving to reach their goals!
    Whether it’s aiming to read more, hit the gym regularly, learn a new skill, or ace that course, we've got you covered.</p>
    <a class="btn btn-primary" href="#">Try for free!</a>
  </div>
  <div class="image">

    <img src="~/assets/images/banner_image5.svg" alt="banner">

  </div>
</div>
