<div class="banner d-flex">
  <div class="container d-flex flex-column justify-content-between">
    <h1>Empowering Buddies, Achieving Dreams!</h1>
    <p>The ultimate accountability buddy for anyone striving to reach their goals!
    Whether it’s aiming to read more, hit the gym regularly, learn a new skill, or ace that course, we've got you covered.</p>
    <div><a class="btn btn-primary" style= "font-size: 20px; padding: 15px 30px; border-radius: 5px; href="#">Try for free!</a></div>
  </div>
  <div class="image">
    <img src="<%= asset_path('winners.svg') %>" alt="Image Description" height="300" width="500">
  </div>
</div>
