<% if goal.matched == false %>
  <div class="card w-100 my-2 white-background-shadow" id="goal-card">
    <div class="card-body d-flex justify-content-between">
      <div class="pe-3">
        <h5 class="card-title"><%="#{goal.category.capitalize} goal" %></h5>
        <p class="card-text"><%= goal.description %></p>
        <p><strong>Deadline: <%= goal.deadline %></strong></p>
      </div>
      <div>
        <a href="#" class="btn btn-success mb-3 match-button" data-action="click->match-goal#match">Match me!</a>
        <a class="mx-2 btn-outline-primary"><%= link_to "Edit goal", goals_path  %></a>
      </div>
    </div>
  </div>
<% end %>
