<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-user-group"></i></a>
    <a class="navbar-brand" href="/">BuddyBoost</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto align-items-center">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= button_to(
                "Log out",
                destroy_user_session_path,
                method: :delete, class: "btn btn-outline-primary") %>
            </li>
            <li class="nav-item">
              <a href="/profile">
                <%= image_tag(current_user.photo || "avatar_default.svg",
                class: "avatar-bordered-small dropdown-toggle",
                id: "navbarDropdown",
                style: "object-fit: cover",
                data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false)%>
              </a>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
            </li>
            <li class="nav-item">
              <%= link_to "Join us!", new_user_registration_path, class: "btn btn-primary" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>
