<div class="d-flex flex-column align-items-center">
  <div class="mt-4 listing-form">
    <%= simple_form_for([@match, @task]) do |f| %>
      <%= f.input :description, label: "What do you need to do to reach your goal?"%>
      <%= f.submit class: "btn btn-primary my-4"%>
    <% end %>
  </div>
</div>
