<div class="">
  <div class="mt-4 listing-form">
    <%= simple_form_for([@match, @task]) do |f| %>
      <%= f.input :description, label: "What do you need to do to reach your goal?", placeholder: "Describe your to-do here!"%>
      <%= f.submit class: "btn btn-primary my-4"%>
    <% end %>
  </div>
</div>
