<ul class="nav nav-pills d-flex flex-column align-items-between" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link <%='active' if params[:location].nil?%>" id="profile-tab" data-bs-toggle="pill" data-bs-target="#profile-content" type="button" role="tab" aria-controls="profile-content" aria-selected="true">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="match-tab" data-bs-toggle="pill" data-bs-target="#matches" type="button" role="tab" aria-controls="matches" aria-selected="false">
      Dashboards
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <%='active' if params[:location] == 'goals'%>" id="goals-tab" data-bs-toggle="pill" data-bs-target="#goals" type="button" role="tab" aria-controls="goals" aria-selected="false">Goals</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="achievements-tab" data-bs-toggle="pill" data-bs-target="#achievements" type="button" role="tab" aria-controls="achievements" aria-selected="false">Achievements</button>
  </li>
</ul>
