<div id="home">

  <div class="d-flex flex-column justify-content-center border-bottom py-5" id="values">

    <h2 class="mb-5">Our values</h2>

    <div class="cards d-flex justify-content-around flex-row">

      <div class="card" style="border: none">
        <img  class="card-img-top" src="<%= asset_path('accessibility.svg') %>" alt="icon accessibility">
        <div class="card-body">
          <h4>Accessibility</h4>
          <p class="card-text">Designed with accessibility in mind, ensuring that everyone, regardless of their abilities or disabilities, can easily utilize its functionalities.</p>
        </div>
      </div>

      <div class="card">
        <img  class="card-img-top" src="<%= asset_path('inclusivity.svg') %>" alt="icon inclusivity" >
        <div class="card-body">
          <h4>Inclusivity</h4>
          <p class="card-text">Discover an app that welcomes everyone! With diverse content, our app ensures everyone feels included and valued. </p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="<%= asset_path('easiness.svg') %>" alt="icon Simplicity">
        <div class="card-body">
          <h4>Simplicity</h4>
          <p class="card-text">Crafted for user-friendly experience, we prioritize simplicity to facilitate seamless engagement and motivation for all users.</p>
        </div>
      </div>
    </div>

  </div>

  <div id="how-it-works" class="d-flex justify-content-center align-items-center flex-column">

    <h2 class="my-5">How it works</h2>

    <div class="d-flex justify-content-center align-items-end flex-wrap w-50">

      <div class="blue-background p-4 m-2">
        <h5>1. Sign up</h5>
      </div>

      <div class="blue-background p-4 m-2">
        <h5>2. Set your goal<h5>
      </div>

      <div class="blue-background p-4 m-2">
        <h5>3. Match your buddy</h5>
      </div>

      <div class="blue-background p-4 m-2">
        <h5>4. Track progress</h5>
      </div>

      <div class="blue-background p-4 m-2">
        <h5>5. Celebrate success! 🎉</h5>
      </div>

    </div>
  </div>
</div>
