<div id="privacy-policy" class="row justify-content-center">
  <div id="privacy-policy-text" class="col-md-7">
    <h2 class="my-4">Privacy policy</h2>
    <div id="privacy-intro">
      <strong><p>Your privacy is important to us. We would like to explain here what we do with your personal data and why we need it. If you have any questions after reading our privacy policy, please feel free to contact our customer service.</p>
      <p>This privacy policy may change from time to time if new developments give reason to do so. The most current privacy policy can be found on this page. We recommend that you consult this page regularly so that you are aware of these changes. You always see the last date of change here.</p></strong>
      <p><small>This privacy policy was last modified on <mark>5 March, 2024</mark>.</small></p>
    </div>
    <br>
    <div class="legal-article">
      <h4>Who processes your personal data</h4>
      <p>BuddyBoost BV, a company registered in the Netherlands, is the data controller responsible for the processing of your personal data in accordance with the General Data Protection Regulation (GDPR) and other applicable data protection laws. Please contact us via our social accounts if you have any questions or concerns regarding the processing of your personal data or this privacy policy.</p>
    </div>
    <div class="legal-article">
      <h4>Types of personal data and purpose of processing</h4>
      <p>BuddyBoost processes the following personal data, for the following purposes.</p>
      <h6>To provide the app</h6>
        <ul>
          <li>Log-in information;</li>
          <li>Your full name;</li>
          <li>Your goal information, insofar it is information that relates to you specifically; and</li>
          <li>Other personal data that you submit on our platform - for example your avatar photo.</li>
        </ul>
      <p>This processing is necessary for the performance of the contract that we close with you, to provide our services. </p>
      <h6>To safeguard your data and prevent incidents</h6>
      <p>No one wants security incidents and fraud, including us. That is why we use personal data to investigate, prevent and combat amongst others unauthorized access and fraud. Our legal ground for this processing is legitimate interest. We might also need to share your data with third parties based on a legal obligation. You can read  more about that in the paragraph below.</p>
    </div>
    <div class="legal-article">
      <h4>Sources & recipients of personal data</h4>
      <p>We do not share your data with third parties, unless were legally obligated to do so - for example if we receive an order of a government body to do so. Your data is not transferred outside of the EU.</p>
    </div>
    <div class="legal-article">
      <h4>Retention periods</h4>
      <p>We store your data for the duration allowed under the applicable laws and regulations. Your data will not be stored longer than necessary.</p>
    </div>
    <div class="legal-article">
      <h4>Your rights</h4>
      <p>Please note you have several rights under the privacy laws in the Netherlands. If you wish to exercise a right, feel free to contact us and we will get back to you as soon as possible. Your rights are, amongst others:</p>
      <ul>
        <li>Right to access: you have the right to request access to your personal data we process at BuddyBoost.</li>
        <li>Right to rectification: you have the right to request rectification of your personal data that's processed at BuddyBoost, insofar the personal data is incorrect.</li>
        <li>Right to be forgotten: you have the right to request the erasure of your personal data under certain circumstances, such as when the data is no longer necessary for the purposes for which it was collected.</li>
        <li>Right to data portability: you have the right to request to receive your personal data in a structured, commonly used, and machine-readable format.</li>
      </ul>
    </div>
  <div class="legal-article">
      <h4>Contact us</h4>
      <p>Please contact us if you have any questions after reading this privacy policy or if you have any questions or remarks regarding your personal data that we at BuddyBoost process. You can reach us via Facebook, Instagram and even TikTok. You can also contact us by phone: 8473-9485820.</p>
    </div>
  </div>
</div>
