<p><strong>Completed goals</strong>: <%= @completed_goals.count %></p>
<p><strong>Dropped goals</strong>: <%= @canceled_goals.count %></p>

<p><strong>Total buddies</strong>: <%= @matched_buddies_total %></p>
