<h2>Buddy Dashboards</h2>
<div class="d-flex justify-content-between align-items-start">
  <div class="list-card-container list-index">
       <% @matches.each do |match| %>
        <%= render "match-card", match: match %>
      <% end %>
  </div>
</div>
