.flash-alert-login {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  color: #4B45E6;
  background-color: white;
}
.flash-alert-info {
  color: #4B45E6;
  background-color: white;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  padding: 70px;
  max-width: 80%;
}

.flash-alert-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
