.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 10px;
  padding: 8px;
  min-height: 80px;
  word-wrap: break-word;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.sender-style {
  background-color: #87dccc7f;
}

.receiver-style {
  background-color: rgba(173, 216, 230, 0.486);
}

.name-padding {
  padding-left: 10px;
}

.white-background-shadow {
  background-color: white;
  width:1000px;
  margin: 0 auto;
  background-color: white;
}

.messages {
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: bottom;
}
