<%# <% @listings.each do |listing| %>
  <div class="list-card">
    <div class="list-card-info">
      <div>
        <h2> <%= link_to "#{goal.category}, #{goal.sub_category}", goal %></h2>
        <p> <%= goal.category.capitalize %> </p>
        <p> <%= goal.description %> </p>
      </div>
    </div>
  </div>
<%# <% end %>
