<% if goal.matched == false %>
  <div class="card w-75 mb-3">
    <div class="card-body">
      <h5 class="card-title"><%="#{goal.category.capitalize} goal" %></h5>
      <p class="card-text"><%= goal.description %></p>
      <p><strong>Deadline: <%= goal.deadline %></strong></p>
      <a href="#" class="btn btn-primary">Match</a>
      <a href="#" class="card-link">Edit goal</a>
    </div>
  </div>
<% end %>
