<h2>Your goals</h2>
<br>
<p>You can create as many goals as you want but you can be matched
 only for 3 goals at a time. We want you to stay focused!</p>

<div class="d-flex justify-content-between align-items-start">
  <div class="list-card-container list-index">
       <% @goals.each do |goal| %>
        <%= render "goal-card", goal: goal %>
      <% end %>
  </div>
</div>
