<h1>Here you can see all your goals!</h1>
<p>This page eventually be part of Profile page > Goals section</p>


<div class="d-flex justify-content-between align-items-start">
  <div class="list-card-container list-index">
       <% @goals.each do |goal| %>
        <%= render "goal-card", goal: goal %>
      <% end %>
  </div>
</div>
